[submodule ".registry"]
	path = .registry
	url = https://github.com/welch-lab/welch-lab.r-universe.dev
	branch = HEAD
[submodule "CytoSimplex"]
	path = CytoSimplex
	url = https://github.com/welch-lab/CytoSimplex
[submodule "RcppPlanc"]
	path = RcppPlanc
	url = https://github.com/welch-lab/RcppPlanc
[submodule "SPARK"]
	path = SPARK
	url = https://github.com/xzhoulab/SPARK
	registered = false
[submodule "SiNMFiD"]
	path = SiNMFiD
	url = https://github.com/welch-lab/SiNMFiD
[submodule "cytosignal"]
	path = cytosignal
	url = https://github.com/welch-lab/cytosignal
[submodule "rliger"]
	path = rliger
	url = https://github.com/welch-lab/liger
