[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CytoSimplex"]
	path = CytoSimplex
	url = https://github.com/welch-lab/cytosimplex
[submodule "rliger"]
	path = rliger
	url = https://github.com/welch-lab/liger
